@use "../variables";
@use "../functions";
@use "sass:color";

header{
    max-width: 800px;
    padding: 0em 5em;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.granada-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: variables.$mqMinWidth) {
        flex-direction: row;
    }
}

.granada-header>h1{
    width: 100%;
}

.alhambra-logo {
    display: block;
    max-width: 200px;
    height: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;

    @media (min-width: variables.$mqMinWidth) {
        max-width: none;
    }
}

.granada-menu>ul{
    padding: 0;
    
    list-style-type: none;
    @media (min-width: variables.$mqMinWidth) {
        display: flex;
    }
}

.granada-menu>ul>li{
    padding: 0.2rem;
    @media (min-width: variables.$mqMinWidth) {
        width: functions.flex-width(3);
    }
}

.granada-title {
    font-family: variables.$font-family-serif;
    font-size: 24px;
    font-weight: 700;
    color: variables.$granada-corporate;

    @media (min-width: variables.$mqMinWidth) {
        font-size: 36px;
    }
}

//Colors bootstrap

.btn-primary {
  background-color: variables.$granada-corporate;
  border-color: variables.$granada-corporate;

  &:hover {
    background: color.adjust(variables.$granada-corporate, $lightness: -10%);
    border-color: color.adjust(variables.$granada-corporate, $lightness: -5%);
  }
}