<header>
    <div class="granada-header">
        <picture>
            <source srcset="./assets/images/logo.png?as=webp&width=250" type="image/webp" />
            <img src="./assets/images/logo.png?width=250" alt="Alhambra drawing" class="alhambra-logo" />
        </picture>
        <h1 class="granada-title">"Graná" (Granada)</h1>
    </div>
    <div class="granada-menu">
        <ul>
            <li><a href="#" class="btn btn-primary"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="#" class="btn btn-primary"><i class="fa-solid fa-newspaper"></i> Notícies</a></li>
            <li><a href="#" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Més info</a></li>
        </ul>
    </div>
</header>